*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}
a{
    color: black;
}
body{
    line-height: 1.5;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
html{
    scroll-behavior: smooth;
}
button{
    padding: 15px 50px;
    font-size: 1.3rem;
    border: 0;
    background-color: aqua;
    transition: all 0.5s linear;
    cursor: pointer;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
.header{
    width: 100%;
    background-color:  blue;;
    color: #fff;
}
.navigation{
    width: 100%;
    height: 10vh;
}
.navbar{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo a{
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
}
.navbar__nav a:hover{
    color: aqua;
}
.navbar__nav a{
    color: white;
    font-size: 1.5rem;
    margin-left: 10px ;
    margin-right: 10px;
    letter-spacing: 1px;
    transition: all 0.5s linear;
}
.banner .item img{
    animation: img 2.5s linear infinite;
}
@keyframes img {
    0%, 100%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(5%);
    }
}
.navbar__nav .home{
    color: aqua;
}
.banner{
    width: 100%;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;  
}
.banner p{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.banner h1{
    font-size: 4.5rem;
    margin-bottom: 1rem;
}
.banner .item button:hover{
    background-color: blue;
    color: darkred;
}
.about__content button:hover{
    background-color: blue;
}
.item form button:hover{
    background-color: blue;
}
.about__content img{
    animation: img 2.5s linear infinite;
}
@keyframes imgs{
    0%, 100%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(5%);
    }
}
.hero{
    width: 100%;
    height: 66vh;
}
.oure .title h2 span{
    font-size: 2rem;
    color: aqua;
}
.oure{
    width: 100%;
    padding: 4rem 0;
    text-align: center;
}
.oure .title h2{
    font-size: 2rem;
}
.oure .title p{
    margin-bottom: 1rem;
}
.our__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-bottom: 3rem;
}
.our__content .item{
    background-color: whitesmoke;
    padding: 1rem;
}
.our__content .item .img img{
    width: 20%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.our__content .item p{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.our__content .item a{
   opacity: 0.8;
   transition: all 0.5s ease;
}
.our__content .item a:hover{
    color: aqua;
}
.about{
    width: 100%;
    padding: 4rem;
    color: #fff;
    background-color:  blue;
}
.about .title{
    text-align: center;
}
.about .title h2{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
}
.about__content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.about__content .item p{
    margin-bottom: 1rem;
}
.about__content .item h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.about .title h2 span{
    color: aqua;
}
.about .title p{
    margin-bottom: 1rem;
}
.why{
    width: 100%;
    padding: 4rem 0;
    text-align: center;
}
.why .title h2{
    font-size: 3rem;
    margin-bottom: 3rem;
}

.why__content .item{
    margin-bottom: 2rem;
}
.why .title h2 span{
    color: aqua;
}
.why__content .item img{
    width: 15%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 30px 30px;
    border: 5px solid  blue;;
    border-radius: 100%;
}
.team{
    width: 100%;
    padding: 4rem 0;
    color: #fff;
    background-color:  blue;;
    text-align: center;
    margin: 0 auto;
}
.team .title h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.team .title h2 span{
    font-size: 3rem;
    color: aqua;
}
.team__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.team__content .item h3{
    color: aqua;
    margin-top: 1rem;
}
.team__content .item{
    padding: 1rem 1rem;
    background-color: blue;
    border-radius: 5px;
}
.team__content .item span{
    margin-bottom: 1rem;
}
.team__content .item .img img{
    width: 50%;
    border-radius: 100%;
    margin: 0 auto;
    border: 5px solid #fff;
}
.team__content .item .icon .fa-brands{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2.5rem;
}
.team__content .item .img{
    padding: 0.6rem 0.6rem;
}
.what .title h2 span{
    color: aqua;
    
}
.what__content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.what{
    width: 100%;
    padding: 4rem 0;
}
.what .title {
    text-align: center;
}
.what .title h2{
    font-size: 2.5rem;
    margin-bottom: 5rem;
}
.what__content .item p{
    margin-top: 1rem;
}
.what__content .item{
    padding: 1rem 1rem;
    background-color: whitesmoke;
}
.what__content .item .img img{
    width: 20%;
    border-radius: 100%;
    margin-top: -4rem;
    margin-bottom: 2rem;
}
.what__content .item h3{
    margin-bottom: 1rem;
}
.footer{
    width: 100%;
    padding: 4rem 0;
    background-color: blue;;
    color: #fff;
}
.footer__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.footer__content .text{
    display: flex;
    flex-direction: column;
}
.footer__content h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.footer__content .text a:hover{
    color: aqua;
}
.footer__content .text a{
    color: #fff;
    margin-bottom: 0.3rem;
}

.footer__content .item form input::placeholder{
    color: #fff;
}
.footer__content .item  .fa-brands{
    padding: 7px 10px;
    font-size: 3rem;
}
.footer__content .item form input{
    width: 100%;
    height: 10vh;
    font-size: 1.5rem;
    border: 0;
    outline: 0;
    text-indent: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border-bottom:1px solid black ;
    margin-bottom: 1rem;
}
.copy .item p{
    text-align: center;
}
.copy{
    width: 100%;
    padding: 1.5rem 0;
}
.navbar__nav .fa-bars{
    font-size: 1.5rem;
    display: none;
}